<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-5 ml-auto">
                <div class="info-area info-horizontal mt-5">
                    <div class="icon icon-primary">
                        <i class="now-ui-icons media-2_sound-wave"></i>
                    </div>
                    <div class="description">
                        <h5 class="info-title">Marketing</h5>
                        <p class="description">
                            We've created the marketing campaign of the website. It was a very
                            interesting collaboration.
                        </p>
                    </div>
                </div>
                <div class="info-area info-horizontal">
                    <div class="icon icon-primary">
                        <i class="now-ui-icons media-1_button-pause"></i>
                    </div>
                    <div class="description">
                        <h5 class="info-title">Fully Coded in HTML5</h5>
                        <p class="description">
                            We've developed the website with HTML5 and CSS3. The client has
                            access to the code using GitHub.
                        </p>
                    </div>
                </div>
                <div class="info-area info-horizontal">
                    <div class="icon icon-info">
                        <i class="now-ui-icons users_single-02"></i>
                    </div>
                    <div class="description">
                        <h5 class="info-title">Built Audience</h5>
                        <p class="description">
                            There is also a Fully Customizable CMS Admin Dashboard for this
                            product.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mr-auto">
                <div class="card card-signup text-center">
                    <div class="card-header ">
                        <h4 class="card-title">Register</h4>
                        <div class="social">
                            <button class="btn btn-icon btn-round btn-twitter">
                                <i class="fab fa-twitter"></i>
                            </button>
                            <button class="btn btn-icon btn-round btn-dribbble">
                                <i class="fab fa-dribbble"></i>
                            </button>
                            <button class="btn btn-icon btn-round btn-facebook">
                                <i class="fab fa-facebook-f"></i>
                            </button>
                            <h5 class="card-description">or be classical</h5>
                        </div>
                    </div>
                    <div class="card-body ">
                        <form class="form" [formGroup]="register" (ngSubmit)="onSubmit()">
                            <div
                                    class="input-group"
                                    [ngClass]="{ 'input-group-focus': focus === true }"
                            >
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="now-ui-icons users_circle-08"></i>
                                    </div>
                                </div>
                                <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Full Name..."
                                        (focus)="focus = true"
                                        (blur)="focus = false"
                                        formControlName="fullName"
                                        [ngClass]="{'is-invalid': submitted && f.fullName.errors}"
                                />
                                <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
                                    <div *ngIf="f.fullName.errors.required">Full Name is required</div>
                                </div>
                            </div>
                            <div
                                    class="input-group"
                                    [ngClass]="{ 'input-group-focus': focus2 === true }"
                            >
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="now-ui-icons text_caps-small"></i>
                                    </div>
                                </div>
                                <input
                                        type="text"
                                        placeholder="UserName..."
                                        class="form-control"
                                        formControlName="userName"
                                        (focus)="focus2 = true"
                                        (blur)="focus2 = false"
                                        [ngClass]="{'is-invalid': submitted && f.userName.error}"
                                />
                                <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                                    <div *ngIf="f.userName.errors.required">Username is required</div>
                                </div>
                            </div>
                            <div
                                    class="input-group"
                                    [ngClass]="{ 'input-group-focus': focus3 === true }"
                            >
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="now-ui-icons ui-1_email-85"></i>
                                    </div>
                                </div>
                                <input
                                        type="password"
                                        class="form-control"
                                        placeholder="Password..."
                                        (focus)="focus3 = true"
                                        (blur)="focus3 = false"
                                        formControlName="password"
                                        [ngClass]="{'is-invalid': submitted && f.password.errors}"
                                />
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters
                                    </div>
                                </div>
                            </div>
                            <div
                                    class="input-group"
                                    [ngClass]="{ 'input-group-focus': focus3 === true }"
                            >
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="now-ui-icons ui-1_email-85"></i>
                                    </div>
                                </div>
                                <input
                                        type="password"
                                        class="form-control"
                                        placeholder="Repeat Password..."
                                        (focus)="focus4 = true"
                                        (blur)="focus4 = false"
                                        formControlName="confirmPassword"
                                        [ngClass]="{'is-invalid': submitted && f.confirmPassword.errors}"
                                />
                            </div>
                            <div
                                    class="input-group"
                                    [ngClass]="{ 'input-group-focus': focus4 === true }"
                            >
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="now-ui-icons ui-1_email-85"></i>
                                    </div>
                                </div>
                                <input
                                        type="email"
                                        class="form-control"
                                        placeholder="Email..."
                                        (focus)="focus5 = true"
                                        (blur)="focus5 = false"
                                        formControlName="userEmail"
                                        [ngClass]="{'is-invalid': submitted && f.userEmail.errors}"
                                />
                                <div *ngIf="submitted && f.userEmail.errors" class="invalid-feedback">
                                    <div *ngIf="f.userEmail.errors.required">Email is required</div>
                                    <div *ngIf="f.userEmail.errors.email">Email must be a valid email address</div>
                                </div>
                            </div>

                            <div
                                class="input-group"
                                [ngClass]="{'input-group-focus' : focus6 === true}"
                            >
                                <label>
                                    <select formControlName="role" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.role.errors }">

                                        <option value="admin" selected>Admin</option>
                                        <option value="host">Host</option>
                                        <option value="tenant">Tenant</option>
                                        <option value="anonymous">Anonymous</option>
                                    </select>
                                </label>
                                <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                                    <div *ngIf="f.role.errors.required">Role is required</div>
                                </div>
                            </div>

                            <!--<div-->
                                    <!--class="input-group"-->
                                    <!--[ngClass]="{'input-group-focus' : focus7 === true}"-->
                            <!--&gt;-->
                                <!--<input-->
                                        <!--type="file"-->
                                        <!--class="form-control"-->
                                        <!--placeholder="Photo..."-->
                                        <!--(focus)="focus7 = true"-->
                                        <!--(blur)="focus7 = false"-->
                                        <!--formControlName="photo"-->
                                        <!--[ngClass]="{'is-invalid': submitted && f.photo.errors}"-->
                                <!--/>-->
                                <!--<div *ngIf="submitted && f.photo.errors" class="invalid-feedback">-->
                                    <!--<div *ngIf="f.photo.errors.required">Photo is required</div>-->
                                <!--</div>-->
                            <!--</div>-->

                            <div
                                    class="input-group"
                                    [ngClass]="{ 'input-group-focus': focus8 === true }"
                            >
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="now-ui-icons ui-1_email-85"></i>
                                    </div>
                                </div>
                                <input
                                        type="number"
                                        class="form-control"
                                        placeholder="Telephone"
                                        (focus)="focus8 = true"
                                        (blur)="focus8 = false"
                                        formControlName="telephone"
                                        [ngClass]="{'is-invalid': submitted && f.telephone.errors}"
                                />
                                <div *ngIf="submitted && f.telephone.errors" class="invalid-feedback">
                                    <div *ngIf="f.telephone.errors.required">Telephone is required</div>
                                </div>
                            </div>
                            <div
                                    class="input-group"
                                    [ngClass]="{ 'input-group-focus': focus6 === true }"
                            >
                                <div class="form-check text-left">
                                    <label class="form-check-label">
                                        If you have account <a [routerLink]="['/pages/login']">Please Login</a>.
                                    </label>
                                </div>
                            </div>
                            <div class="card-footer ">
                                <button class="btn btn-primary btn-round btn-lg btn-block mb-3" type="submit">Register
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
