<div class="main-content">
    <div class="container">
        <div class="col-md-4 ml-auto mr-auto">
            <form class="form" [formGroup]="login" (ngSubmit)="onSubmit()">
                <div class="card card-login card-plain">
                    <div class="card-header ">
                        <div class="logo-container">
                            <img src="assets/img/now-logo.png" alt=""/>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div
                                class="input-group no-border form-control-lg"
                                [ngClass]="{ 'input-group-focus': focus === true }"
                        >
                          <span class="input-group-prepend">
                            <div class="input-group-text">
                              <i class="now-ui-icons users_circle-08"></i>
                            </div>
                          </span>
                            <input
                                    type="email"
                                    class="form-control"
                                    placeholder="UserEmail..."
                                    (focus)="focus = true"
                                    (blur)="focus = false"
                                    formControlName="userEmail"
                                    [ngClass]="{'is-invalid': submitted && f.userEmail.errors}"
                            />
                            <div *ngIf="submitted && f.userEmail.errors" class="invalid-feedback">
                                <div *ngIf="f.userEmail.errors.required">Email is required</div>
                                <div *ngIf="f.userEmail.errors.email">Email must be a valid email address</div>
                            </div>
                        </div>
                        <div
                                class="input-group no-border form-control-lg"
                                [ngClass]="{ 'input-group-focus': focus2 === true }"
                        >
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="now-ui-icons text_caps-small"></i>
                                </div>
                            </div>
                            <input
                                    type="password"
                                    placeholder="Password"
                                    class="form-control"
                                    (focus)="focus2 = true"
                                    (blur)="focus2 = false"
                                    formControlName="password"
                                    [ngClass]="{'is-invalid': submitted && f.password.errors}"
                            />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div>
                        <div
                                class="input-group"
                                [ngClass]="{'input-group-focus' : focus3 === true}"
                        >
                            <label>
                                <select formControlName="role" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.role.errors }">

                                    <option value="admin" selected style="color: black">Admin</option>
                                    <option value="host" style="color: black">Host</option>
                                    <option value="tenant" style="color: black">Tenant</option>
                                    <option value="anonymous" style="color: black">Anonymous</option>
                                </select>
                            </label>
                            <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                                <div *ngIf="f.role.errors.required">Role is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <button type="submit" href="#pablo"
                                class="btn btn-primary btn-round btn-lg btn-block mb-3"
                        >Login</button
                        >
                        <div class="pull-left">
                            <h6>
                                <a [routerLink]="['/pages/register']" class="link footer-link">Create Account</a>
                            </h6>
                        </div>
                        <div class="pull-right">
                            <h6><a class="link footer-link">Forgot Password?</a></h6>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
