.user-register .social {
    display: flex;
    justify-content: space-around;
}
.user-register .pull-left {
    width: 100%;
}
.user-register .pull-left>p>a {
    font-size: 11px;
    color: #f96332;
    cursor: pointer;
}
.user-register .pull-left>p {
    font-size: 11px;
}
.input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
    border-top-right-radius: 29px!important;
    border-bottom-right-radius: 29px!important;
}
.social button {
    width: 120px;
}





.user-login .logo-container>img {
    width: 83px;
    height: 85px;
    filter: invert(1);
    margin-bottom: 20px;
    border: 2px solid #2ba594;
    border-radius: 50%;
}
.user-login .social {
    display: flex;
    justify-content: space-around;
}
.user-login .card-body p {
    text-align: right;
}
.user-login .card-body p>a {
    cursor: pointer;
    color: #f96332;
}
.user-login .card-footer .pull-left {
    width: 100%;
}
.user-login .card-footer .pull-left>p {
    font-size: 11px;
}
.user-login .card-footer .pull-left>p>a {
    cursor: pointer;
    color: #f96332;
    font-size: 11px;
}

.input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
    border-top-right-radius: 29px!important;
    border-bottom-right-radius: 29px!important;
}
.social button {
    width: 120px;
}